@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.title {
  font-size: 1.5rem;
}

.border-top {
  border-top: 1px solid #eaeaea;
}

.border-right {
  border-right: 1px solid #333;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
