@tailwind base;

/* styles/globals.css */
@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.title {
  font-size: 1.5rem;
}

.border-top {
  border-top: 1px solid #eaeaea;
}

.border-right {
  border-right: 1px solid #333;
}

.portrait {
  width: 30rem;
  height: auto;
  border-radius: 50%;
}

.link-wrapper {
  width: 8rem;
  height: 8rem;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.button:hover {
  opacity: 0.65;
  transition: all 0.2s ease-in-out;
}

.high-light {
  color: #000;
}

.active {
  color: var(--primary-color) !important;
}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
:root {
  --primary-color: #42a9f7;
  --secondary-color: #ec7e5f;
}
